body {
    margin: 0;
}

ul.navbar-ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
}

.navbar-ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar-ul li {
    float: left;
}

.navbar-ul li a:hover {
    background-color: #333;
}

.container {
    padding-right: 15%;
    padding-left: 15%;
    margin-right: auto;
    margin-left: auto;
}

.image img {
    width: 70%;
    height: 70%;
}

.image {
    padding-right: 0em;
}

.row {
    content: "";
    clear: both;
    display: table;
}

.column {
    float: left;
    width: 35%;
}

a.download {
    text-decoration: none;
    color: #fff;
    background: #658c78;
    padding: 8px 10px;
    border-radius: 3px;
    display: block;
    width: 120px;
    margin: 100px auto 0 auto;
    text-align: center;
    z-index: 100;
    transition: opacity .8s ease;
}

h1.home {
    font-style: italic;
}

div.head {
    text-align: center;
    margin-top: 17em;
}

footer {
    background-color: black;
    position: fixed;
    width: 100%;
    text-align: center;
    left: 0;
    bottom: 0;
    border-top: 4px solid white;
}
.list{
  color: blue;
  font-style: oblique;
}
